@import 'variables';
@import 'mixins';

html {
    @include box-sizing(border-box);
}
*,
*:after,
*:before {
  @include box-sizing(inherit);
}

h1,h2,h3,h4,h5,h6{margin: 0;}
h1{
	color: $gris;
	padding-top: .4rem;
}

body{
	font-family: sans-serif;
	background-color: $bg-body;
}

img{
	max-width: 100%;
}

.centrado {
    text-align:center;
}

main{
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.avatar img{
	border: 1px solid $gris;
	border-radius: 50%;
	height: 120px;
	width: 120px;
}

.btn-group{
	width: 25%;
}
.btn-group .btn-content{
	background-color: $bg-btn;
	border-radius: 5px;
	color: $blanco;
	cursor: pointer;
	font-weight: 300;
	text-align: center;
	padding: 20px 0;
	margin: 18px 0;
}

.btn-group .btn-content:hover{
	text-decoration: underline;
}

.line{
	background-color: $gris;
	height: 2px;
	width: 25%;
}

footer{
	color: $gris;
	line-height: .5;
}
footer .mail{
	cursor: pointer;
}
footer .mail:hover{
	text-decoration: underline;
}